@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Indie+Flower&display=swap);family=Dancing+Script:wght@500&family=Inconsolata:wght@300&family=Lobster&family=Long+Cang&display=swap');

html {
  scroll-behavior:smooth;
}

body {
  font-family: 'Lobster',cursive;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;  
}
li {
  list-style-type: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: rgb(90, 77, 62);
}

/* ******************* NAVBAR ******************* */
nav {
  overflow: hidden;
  background-color: #FFFAE1;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li {
  float: right;
  font-size: 1.2em;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}
#logo {
  font-family: 'Ballet', cursive;
  font-weight: bold;
  float: left;
}

/* **************** IMAGE PRINCIPALE ************* */
#imagePrincipale {
  padding-top: 60px;
  background: url(Médias/image\ principale.jpg) no-repeat 50% 50%; 
  background-size: cover;
  height: 799px;
}
h1 {
  font-family:'Dancing Script', cursive;
  text-align: center;
  color: antiquewhite;
  font-size: 6em;
  margin-top: 80px;
  text-shadow: 1px 3px 2px rgb(190, 143, 143);
}
#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color:rgb(255, 248, 248);
  box-shadow: 1px 3px 2px rgb(138, 83, 83);
}
h3 {
  text-align: center;
  color:rgb(155,101,30);
  font-size: 3em;
  text-shadow:1px 3px 2px black
}

/* *************** PRESENTATION ********************** */
#presentation {
    background-color:#FFFAE1;
    padding: 10px 0px 100px 0;
}
#texteIntro {
  padding: 0px 20%;
}
#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 11%;  
}
.imagesPrestations h4 {
  font-family:'Big Shoulders Inline Display', cursive;
  text-align: center;
  font-size: 1.8em;
  margin: 15px;
  font-weight: 300;
}
.imagesPrestations img {
  border-left: 5px double #aa6321;
  border-radius: 0px 40px 0px 40px;
  box-shadow:3px 4px 5px 4px rgb(133, 122, 122);
}
.imagesPrestations img:hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.6s step-end;
}

/* **************** TOURISME ********************** */
#tourisme {
  height: 1400px;
  background-color:burlywood;
  padding: 1px 2%;
}
#tourisme h2 { 
padding-top: 60px;
}
#château {
  background: url(Médias/château.jpg); 
}
#vignoble {
  background: url(Médias/vignes.jpg); 
}
#phare {
  background: url(Médias/phare.jpg); 
}
 #ocean {
  background: url(Médias/ocean\ atlantique.jpg); 
}

#tourisme li
{
    margin: 65px 100px 0px 100px;
    height: 226px;
    width: 55%;
    max-width : 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#tourisme p {
    height: 45px;
    width: 235px;
    background-color: #b0e61d;
    float:right;
    margin: 50px -180px 0 0; 
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgb(251, 255, 9);
}
#tourisme #chateau, #tourisme #vignoble {
  float: right;
}

#chateau p, #vignoble p {
  float:left;
    background-color:rgb(208, 163, 214) ;
    margin-left: -180px;
    box-shadow: -4px 4px 0px 1px rgb(143, 146, 146);
}

/* ******************* FOOTER ******************** */
footer {
  background-color: #524A3A;
  color: #FFFAE1;
  padding: 20px 0 10px 0;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 900px;
}
input, textarea, button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 2px 0;
  font-size: 1.2em;
  font-family:'Indie Flower', cursive;
  border-radius: 8px;
}
textarea {
  height: 120px;
}
button {
  font-size: 1.5em;
  background-color: #FFFAE1;
}
button:hover {
  background-color: #ad7731;
  color: #FFFAE1;
  cursor: pointer;
  transition: 0.3s ease-in;
}
#deuxiemeTrait {                       
  height: 1px;
  width: 75%;
  margin:60px auto; 
}
#copyrightEtIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#copyright { 
  width: 50%;
  text-align: left;
  color: #FFFAE1;
}
#icons {
  width: 50%;
  text-align:left;
}
#icons a {
  display:inline-block; 
  padding: 0 15px;
  font-size: 1.3em;
  color: #FFFAE1;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s ease-in-out;
} 